.landing-page-trending-list {
    margin-bottom: 5vh;

    .landing-page-list-header {
        font-size: 54px;
        color: white;
        font-weight: bold;
    }
    
    .landing-page-carousel {
        display: flex;
        flex-direction: row;
    }
    
    .landing-page-item-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    
        .landing-page-image-container {
            img {
                width: 60%;
                height: auto;
                position: relative;
                left: 20%;
            }
        }
    
        p {
            color: white;
        }
    }
}

